<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="RestoHunt is a restaurant recommendation app that help you to find your favorite restaurant."
    />

    <link rel="icon" href="./favicon.png" />
    <title>RestoHunt</title>

    <!-- FontAwesome -->
    <link
      rel="stylesheet"
      href="https://site-assets.fontawesome.com/releases/v6.6.0/css/all.css"
    />
    <link
      rel="stylesheet"
      href="https://site-assets.fontawesome.com/releases/v6.6.0/css/sharp-duotone-solid.css"
    />
    <link
      rel="stylesheet"
      href="https://site-assets.fontawesome.com/releases/v6.6.0/css/sharp-thin.css"
    />
    <link
      rel="stylesheet"
      href="https://site-assets.fontawesome.com/releases/v6.6.0/css/sharp-solid.css"
    />
    <link
      rel="stylesheet"
      href="https://site-assets.fontawesome.com/releases/v6.6.0/css/sharp-regular.css"
    />
    <link
      rel="stylesheet"
      href="https://site-assets.fontawesome.com/releases/v6.6.0/css/sharp-light.css"
    />

    <link rel="manifest" href="./app.webmanifest" />
    <link rel="apple-touch-icon" href="/icons/icon-192x192.png" />
  </head>
  <body>
    <!-- Skip To Content Button -->
    <a href="#main-content" class="skip-link" id="skip-link">Skip to content</a>
    <!-- End Skip To Content Button -->

    <!-- Loading Indicator -->
    <loading-indicator></loading-indicator>
    <!-- End Loading Indicator -->

    <!-- Navbar -->
    <my-navbar></my-navbar>
    <!-- End Navbar -->

    <section id="content"></section>

    <!-- Footer -->
    <my-footer></my-footer>
    <!-- End Footer -->
  </body>
</html>
