$primary: #1e201e;
$secondary: #3c3d37;
$tertiary: #697565;
$quarternary: #ecdfcc;
$fontFamily: "Poppins", system-ui;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$animate-pulse: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
